    {% extends "navbarext.html" %}


    {% block content%}    
    <div class="maps-container">
        <iframe class="maps-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2554.4574768327006!2d8.749636216283013!3d50.18997921397886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd057958a5a3d7%3A0x20b948598661db70!2sAm%20Fuhrweg%208D%2C%2061118%20Bad%20Vilbel!5e0!3m2!1sde!2sde!4v1654081053255!5m2!1sde!2sde" 
        allowfullscreen="" loading="lazy"></iframe>

        <div class="text-container maps-right">
            <h2> Impressum</h2>
            <h3>
                Peluso.me<br>
                Jacques Peluso<br>
                Am Fuhrweg 8D<br>
                61118 Bad Vilbel<br>
                Deutschland<br>
            </h3>
            <h3>
                Telefon: +49(0)6101 129797<br>
                Mobil: +49 (0)17662392745<br>
                <br> E-Mail: Support@Peluso.me
            </h3>
        </div>
    </div>

    {% endblock %}